/* App.css */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1em;
  box-sizing: border-box;
}

button {
  background-color: #428bca; /* Azul principal */
  color: white;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

button:hover {
  background-color: #3071a9; /* Azul más oscuro al pasar el ratón */
}

/* Estilo para hacer la aplicación responsive */
@media (max-width: 600px) {
  h1 {
    font-size: 1.5em;
  }
}
